<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <h2 class="text-center text-primary">Reset Password</h2>
        <hr>

        <div class="form-group">
          <input type="password"
            [ngClass]="{'is-invalid': resetPasswordForm.get('password').errors && resetPasswordForm.get('password').touched}"
            class="form-control" formControlName="password" placeholder="Password">

            <div *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched"
              class="invalid-feedback">Password is required</div>

            <div *ngIf="resetPasswordForm.get('password').hasError('minlength') && resetPasswordForm.get('password').touched"
              class="invalid-feedback">Password should be atleast 8 characters</div>

            <div *ngIf="resetPasswordForm.get('password').hasError('maxlength') && resetPasswordForm.get('password').touched"
              class="invalid-feedback">Password should be less than 20 characters</div>
        </div>

        <div class="form-group">
          <input type="password"
            [ngClass]="{'is-invalid': resetPasswordForm.get('confirmpassword').errors
                && resetPasswordForm.get('confirmpassword').touched
                || resetPasswordForm.get('confirmpassword').touched && resetPasswordForm.hasError('mismatch')}"
            class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">

            <div class="invalid-feedback"
              *ngIf="resetPasswordForm.get('confirmpassword').hasError('required') && resetPasswordForm.get('confirmpassword').touched">
            Please confirm your password</div>

            <div class="invalid-feedback"
              *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmpassword').touched">
            Passwords mismatch</div>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-success mr-2" [disabled]="!resetPasswordForm.valid" type="submit">Reset</button>
        </div>

      </form>
    </div>
  </div>
</div>
