<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Store your contacts!</h1>
    <p class="lead">Have them at your ease... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div>
  </div>
  <br/>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (authCancel)="registerOpMethod($event)"></app-register>
      </div>
    </div>
  </div>
</div>
